node_modules/
dist/
spark_output/
Dataset_folder/
data/processed/
.pytest_cache/
Industrial_Digital_Twin_Code.zip
presentation-ui/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp
*.swo
